/* .App {
  
}

.App-logo {
  
}

.App-header {

}

.App-link {
  
} */

/* *****CHANGES***** */
div.business-card {
 height: 427px;
 width: 320px;
 margin-left: -160px;
 margin-top: -213.5px;
 top: 50%;
 left: 50%;
 
}
div.front {
 position: relative;
 top: 0;
 left: 0;
 height: 427px;
 width: 320px;
 -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.75);
 box-shadow: 0 0 50px rgba(0, 0, 0, 0.75);
 border-radius: 5%;
 margin: 125px 0 0 125px;
}
div.front {
 background-color: #dfba42;
 color: rgb(102, 100, 107);
 width: 427px;
 height: 320px;
}
div.front div.container-sm {
 float: left;
 width: 40%;
 height: 100%;
 position: relative;
}
.logo {
 position: absolute;
 top: 50%;
 left: 50%;
 width: 120px;
 height: 120px;
 display: block;
 margin: -60px -80px;
}
div.front a {
 color: rgb(255, 255, 255);
 text-decoration: none;
 display: grid;
 padding-bottom: 17px;
 font-weight: 900;
}
div.front a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding-bottom: 17px;
 }
div.front ul.social {
 font-size: 25px;
}